* {
    background-color: #F2F3F4;
}

p {
    font-size: 30px;
    text-align: center;
    padding-top: 18px;
    font-family: 'Courier New', Courier, monospace;
}

/* box1 */
#box1 {
    margin: 0 auto;
    width: 1000px;
    height: 120px;
    color: blue;
    background-color: red;
    animation: colorChange 3s infinite;
}

@keyframes colorChange { 
    0%, 100% { 
        color: blue;
        background-color: red;
    }
    25%, 75% {
        color: #b44de0;
        background-color: #b44de0;
    }
    50% {
        color: red;
        background-color: blue;
    }
}

/* box2 */
#box2 {
    width: 120px;
    height: 120px;
    background-color: violet;
    border-radius: 100px;
    animation: slide 5s ease-in-out infinite;
}

@keyframes slide {
    from {transform: translateX(0);}
    to {transform: translateX(200px);}
}

/* box3 */
#box3 {
    width: 120px;
    height: 120px;
    background-color: aqua;
    animation: slide2 5s infinite;
    
}

@keyframes slide2 {
    0% {transform: translateY(0);}
    50% {transform: translateY(-30px);}
    100% {transform: translateY(0);}
}

/* cats */
.cats img {
    height: 250px;
}

.cats {
    justify-content: left;
    align-items: center;
    display: flex;
    background-color: transparent;
}

/* cat1 */
#cat1 {
    animation: cat1 2s linear infinite;
    justify-content: center;
    align-items: center;
}

@keyframes cat1 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/* numbers */
#numbers > pre {
    font-size: 30px;
    text-align: c;
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
    display: block;
    width: 50%;
    justify-content: center;
    align-items: center;
}